<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    
    <rewrite>
      <rules>
        <rule name="Redirect to GCP" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" pattern="index\.html$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="favicon\.ico$" negate="true" />
          </conditions>
          <action type="Redirect" 
                  url="https://equipment-marketplace-app-457614448632.us-central1.run.app{R:0}" 
                  redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    
    <staticContent>
      <mimeMap fileExtension=".html" mimeType="text/html" />
    </staticContent>
    
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/index.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration> 